{% from 'macros/base/dialog.html.j2' import render_dialog %}
{% from 'macros/base/form.html.j2' import render_form, render_field, render_submit %}

{% macro render_form_dialog(form, name, label) %}
  {% if request.path_params.item_id %}
    {% set dialog_title = "编辑" ~ label %}
    {% set action_url = url_for(name ~ ":update", item_id=request.path_params.item_id) %}
  {% else %}
    {% set dialog_title = "新增" ~ label %}
    {% set action_url = url_for(name ~ ":create") ~ '?dialog=true' %}
  {% endif %}

  {% call render_dialog(title=dialog_title) %}
    <form
      id="dialog-form"
      hx-post="{{ action_url ~ '?dialog=true' }}"
      hx-target="this"
      hx-swap="outerHTML"
      hx-select="#dialog-form"
      hx-disabled-elt="[type=submit]"
    >
      {% if caller is defined %}
        {{ caller() }}
      {% else %}
        <div class="flex flex-col gap-4 p-6">
          {% for field in form if field.type != "SubmitField" %}
            {{ render_field(field) }}
          {% endfor %}
        </div>
      {% endif %}

      <div class="flex items-center justify-end gap-3 px-6 py-4 border-t border-base-300">
        <button
          type="button"
          @click="$el.closest('dialog').close()"
          class="btn"
        >
          取消
        </button>
        <button type="submit" class="btn btn-neutral">
          保存提交
        </button>
      </div>
    </form>
  {% endcall %}
{% endmacro %}

{% macro render_form_page(form, name, label) %}
  <div class="flex flex-col gap-3">
    <div class="flex flex-col items-start justify-between gap-4 sm:flex-row sm:items-center">
      <h2 class="text-xl font-semibold ps-2">
        {{ label }}管理
        <span class="ml-2 text-sm font-normal text-base-content/50">
          / {{ "编辑" if request.path_params.item_id else "新增" }}
        </span>
      </h2>

      <a
        class="btn"
        href="{{ url_for(name + ':index') }}"
      >
        <span class="icon-[lucide--arrow-left] text-lg"></span>
        返回列表
      </a>
    </div>
    {% if caller is defined %}
      {{ caller() }}
    {% else %}
      <div class="card bg-base-100 shadow-sm border border-base-200">
        <div class="card-body">
          {% set create_url = name + ':create' %}
          {% set update_url = name + ':update' %}
          {%
            set action_url = url_for(update_url, item_id=request.path_params.item_id) if request.path_params.item_id else url_for(create_url)
          %}

          {% call render_form(form, action=action_url) %}
            <input type="hidden" name="url" value="{{ request.query_params.url or url_for(name + ':index') | e }}">
          {% endcall %}
        </div>
      </div>
    {% endif %}
  </div>
{% endmacro %}
