{% extends "base.html.j2" %}

{%- block workspace -%}
  {%- from 'macros/form.html.j2' import render_form_page,render_form_dialog with context -%}

  {%- if request.query_params.dialog -%}
    {{ render_form_dialog(form, "features", "推荐") }}
  {%- else -%}
    {{ render_form_page(form, "features", "推荐") }}
  {%- endif -%}
{%- endblock -%}
