{% extends "base.html.j2" %}

{% block workspace %}
  {% from 'macros/base/form.html.j2' import render_form with context %}

  <div class="flex flex-col gap-3">
    <div class="flex items-center justify-between">
      <h2 class="text-xl font-semibold ps-2">修改密码</h2>
      <a class="btn" href="{{ url_for('dashboard:index') }}">
        <span class="icon-[lucide--arrow-left] text-lg"></span>
        返回首页
      </a>
    </div>
    <div class="card bg-base-100 shadow-sm border border-base-200">
      <div class="card-body">
        {% call render_form(form, action=url_for('profile:password_save')) %}
          <input type="hidden" name="url" value="{{ request.query_params.url or url_for('profile:password') | e }}">
        {% endcall %}
      </div>
    </div>
  </div>
{% endblock %}
